<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gdufs.ivos.user.mapper.UserMapper">

    <select id="selectByUsername" resultType="com.gdufs.ivos.user.pojo.vo.UserVO">
        SELECT id,username,password,email,phone,age,gender,
               create_time,update_time,status,level,parent_id
        FROM user WHERE username=#{username}
    </select>
</mapper>
